<nav class="top-nav">
  {{^is "post"}}
      {{#if @site.logo}}
          <a class="top-nav-logo" href="{{@site.url}}">{{> icons/seam-logo }}</a>
      {{else}}
          <a class="top-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}
  {{/is}}
  {{!-- {{#if @site.navigation}}
      {{navigation}}
  {{/if}} --}}
</nav>
